html {
    height: 100%;
}

body {
    @extend %flexColumn;
    min-height: 100%;

    font-family: Open Sans, serif;
    font-size: 14px;

    color: var(--black-color);
}

.main {
    flex: 1 1 auto;
}

.header,
.footer {
    width: 100%;
    padding: 30px 0px;
    border-bottom: var(--border-line);
}

.header__list,
.footer__list {
    @extend %headerFooterFlex;
}

.container {
    max-width: 1363px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo__img {
    width: 80px;
}

.blog {
    &__inner {
        @extend %flexWrap;
        margin: 0 -24px;
        padding: 70px 15px;
    }
}

.footer {
    border-top: var(--border-line);
    border-bottom: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;

    visibility: hidden;
    opacity: 0;

    background-color: var(--overlay-bgc);
    transition: opacity 0.5s;
}