{
  "root": true,
  "globals": {},
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "airbnb-base",
    "eslint-config-prettier"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "func-names": [
      "warn",
      "as-needed"
    ],
    "quote-props": [
      "warn",
      "as-needed",
      {
        "keywords": true,
        "unnecessary": false
      }
    ]
  }
}
