.blog-card {
  margin: 14px;
  max-width: 240px;

  &__inner {
    @extend %flexColumn;
    transition: all 500ms;

    &:hover {
      color: var(--white-color);
      background-color: var(--grey-color);
      box-shadow: var(--blog-card-hover-shadow);
    }
  }

  &__img {
    max-width: 240px;
  }

  &__title {
    @extend %text-hiding;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--red-color);
  }

  &__descr {
    @extend %text-hiding;
    -webkit-line-clamp: 6;
    margin-bottom: 20px;
  }

  &__content {
    @extend %flexColumn;
    justify-content: space-between;
    min-height: 247px;
    padding: 20px 10px;
    border: 1px solid var(--black-color);
    border-top: 0;
  }

  &__edit {
    margin: 0 30px 0 10px;
    transition: color 100ms;
    &:hover {
      color: var(--modal-window-close-btn);
    }
  }

  &__delete {
    transition: color 100ms;
    &:hover {
      color: var(--modal-window-close-btn);
    }
  }
}
