.header {
  &__btn {
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 20px;
    background-color: var(--grey-color);
    border: 1px solid var(--black-color);
    transition: all 500ms;
  }

  &__btn:hover {
    color: var(--white-color);
    background-color: var(--blue-color);
  }
}
