.blog-card {
    margin: 15px;
    width: 240px;

    &__inner {
        @extend %flexColumn;
        transition: all 500ms;
    }

    &__inner:hover {
        color: var(--white-color);
        background-color: var(--grey-color);
        box-shadow: var(--blog-card-hover-shadow);
    }

    &__img {
        max-width: 240px;
    }

    &__title {
        margin-bottom: 10px;
        -webkit-line-clamp: 2;
        @extend %text-hiding;

        font-size: 18px;
        font-weight: 700;
        color: var(--red-color);
    }

    &__descr {
        margin-bottom: 20px;
        -webkit-line-clamp: 6;
        @extend %text-hiding;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 247px;
        padding: 20px 10px;
        border: 1px solid var(--black-color);
        border-top: 0;
    }

    .buttons__edit {
        margin-right: 30px;
        margin-left: 10px;
    }

    .buttons__edit:hover,
    .buttons__delete:hover {
        color: var(--modal-window-close-btn);
    }
}